<h1>Hello World</h1>

<p>
    <a href="/products">All Products</a>
</p>

<hr />
<p>
    <h3>Iteration 1: Categories</h3>
    <a href="/products/clothing">Clothing</a> <br />
    <a href="/products/electronics">Electronics</a> <br />
    <a href="/products/sports">Sports</a> <br />
</p>

<hr />
<p>
    <h3>Iteration 2: By Price</h3>
    <a href="/products?maxPrice=50">Below 50€</a> <br />
    <a href="/products?maxPrice=200">Below 200€</a> <br />
</p>


<hr />
<p>
    <h3>Iteration 3: Login</h3>
    <a href="/login">Login</a> <br />
</p>