<h1>Product List:</h1>

{{#each productsArr}}
    <div class="product">
        <strong>{{this.name}}</strong><br />
        Category: {{this.category}} <br />
        Price: {{this.price}}
    </div>
{{/each}}
